.features1 {
    display: flex;
    width: 1114px;
    height: 367px;
    margin: 131px 163px 152px 163px;
}

.icon-benefit-text {
    display: flex;
    flex-direction: column;
    margin: 0px;
    width: 410px;
    height: 367px;
}


.icon-text {
    width: 390px;
    height: 89px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    margin-bottom: 50px;
    margin-left: 0px;
    gap: 20px;
}

.icon-text:last-child {
    height: 88px;
}

.icon-text p,
.icon-text span {
    margin-left: 30px;
    display: flex;
    flex:content;
}

.icon-text span {
    font-size: 20px;
    font-weight: bold;
    width: 130px;
    height: 30px;
    position: relative;
    top: -10px;
    left: -30px;
}

.icon-text p {
    width: 20px;
    line-height: 26px;
    position: relative;
    top: -48px;
    margin-left: 75px;
    height: 50px;
}


.icon-text .icon-benefit{
    width: 54px;
    height: 54px;
    padding: 15px;
    border-radius: 27px;
    position: relative;
    top:-10px;
    background-color:#E7EBFC;
}

.text-button{
    margin-left: 164px;
    width: 540px;
    height: 346px;
}

.text-button h1 {
    font-size: 52px;
    margin-bottom: 16px;
}

.text-button p {
    font-size: 20px;
    margin-bottom: 28px;
}

.text-button button {
    text-align: left;
    background-color: #2E4FD7;
    color: #fff;
    border: none;
    margin-top: 25px;
    background-image: url(/site_Tweakful_new/img/long_right.svg);
    background-repeat: no-repeat;
    background-position: 150px;
}

.text-button button a {
    display: inline-block;
    text-decoration: none;
    position: relative;
    margin-left: -20px;
    color: #fff;
    padding: 15px 45px;
    font-size: 16px;
}