*, body {
    font-family: Inter;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.container {
    font-family: Inter;
    max-width: 1200px;
    margin: 0 auto;
    /* border: 2px solid green; */
}